@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;

}

.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    /* background: #333; */
    border-radius: 20px;
    transition: 0.3s;
    /* transition-delay: 0.5s; */
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.card:hover{
    width: 600px;
    /* transition-delay: 0s; */
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #f00; */
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);

}

.circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    /* background: #333; */
    clip-path: circle(120px at center);
    transition: 0.4s;
}

.card:hover .circle::before{
    clip-path: circle(400px at center);
    transform: scale(1);
}

.logo{
    position: relative;
    width: 200px;
    transform: 0.5s;
    /* transition-delay: 0.5s; */
    
}
.card:hover .logo{
    transform: scale(0);
    transition-delay: 0s;
}

.content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.4s;
    visibility: hidden;
    /* overflow: hidden; */
}

.card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.content h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 2rem;
}

.content p{
    color: #fff;

}

.content a{
    position: relative;
    color: #111;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 1000;
}

.product{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% ) scale(0);
    height: 500px;
    transition: 0.4s;
    /* transition-delay: 0s; */
}

.card:hover .product{
    left: 72%;
    transform: translate(-50%, -50% ) scale(1);
}

.circle1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #f00; */
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);

}

.circle1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #02953a;
    /* background: #333; */
    clip-path: circle(120px at center);
    transition: 0.4s;
}

.card:hover .circle1::before{
    clip-path: circle(400px at center);
    transform: scale(1);