@media only screen and (min-width: 200px) and (max-width: 1000px) {

    *{
        margin: 0% 1%;
    }

    
.navbar{
    display: flex;
    justify-content: center;
    height: 60px;
    width: 98%;
    position: relative;
}

.logo img{
    text-align: center;
}
.navbar span{
    position: absolute;
    right: 10px;
    font-size: 25px;
    display: block;
    text-align: right;
}
.logo ul{
    display: none;
}
.shop{
    display: none;
}
.mainbody{
    width: 98%;
}

.heading h1{
    font-size: 2rem;
}

.heading h3{
    font-size: 16px;
}
.topimg{
    width: 100%;
}

.shopinner{
    width: 100%;
}

.metaquest{
    width: 98%;
}

.bottomnews{
    /* margin: 5%; */
    width: 98%;
}

.article{
    width: 100%;
}

.colomrev{
    width: 100%;
}

.rightarticle{
    width: 100%;
}

.bottomcenter{
    width: 100%;
}
.metabottom{
    width: 98%;
}


.leftcolom{
    display: none;
}

.innerbottom1 li{
   
}

.topimg h4{
    font-size: 25px;
    margin: 0px;
}
.headingh2{
    line-height: 20px;
    margin-top: 8px;
    font-size: 20px;
}

.topimg p{
    display: none;
}

.colomrev{
    flex-direction:column-reverse;
}

.headingunderline{
    font-size: 17px;
}
.headingh3{
    font-size: 17px;
    font-weight: 300;
}
.para{
    display: none;
}

.rightarticle{
    margin-bottom: 10px;
}

h6{
    font-size: 12px;
}

.metaquest{
    flex-direction: column;
    height: fit-content;
}

.leftmeta {
    width: 78%;
    margin:10px 0px;
}
.rightmeta{
    text-align: center;
    width: 100%;
    overflow: hidden;
    
}
.rightmeta img{
    width: 90%;
}

.metabottom2{
    display: none;
}

.bottomcentdis{
    margin-bottom: 15px;
    width: 100%;
}

.centercont{
    width: 50%;
}
.articleimg{
    width: 100%;
}
.articleimg img{
    width: 100%;
}
.seemorenews{
    width: 86%;
}
.presslink{
    width: 93%;
    padding: 30px 10px;
    display: block;
}

.presslink li{
    font-size: small;
    
    display: block;
    margin: 10px 0px;
}

.metabottom1{
    text-align: center;
    width: 100%;
}

.metabottomformob{
    margin: 20px 0px;
    width: 98%;
    display: block;
    /* margin: 5%; */
    font-size: 25px;
    
    
}
.metabottomformob ul{
    text-transform:capitalize;
    list-style-type: none;
}

.metabottomformob li{
    font-weight: 300;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(220, 218, 218);
}

.imgofbottomarti{
    width: 45%;
    overflow: hidden;
}

.lastfooter{
    width: 98%;
    /* margin: 60px 20px 20px 20px; */
    margin: 40px 0px;
}

}
